/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Color palette
:root {
  --primary-color: #0c0910;
  --secondary-color: #401f3e;
  --tertiary-color: #eed2cc;
  --quartery-color: #05668d;
  --pentagon-color: #a2d3c2;
} */

/* Global styling */
h1,
h2,
h3,
h4,
h5,
p {
  color: white;
  font-family: "Sans-Serif", sans-serif;
}

body {
  background-color: black;
  color: white;
}

.btn-primary {
  background-color: #f2f4cb;
  color: black;
  border: none;
  font: sans-serif;
}

.btn-primary:hover {
  background-color: #223127;
  color: white;
  border: none;
}

/* Navbar styling */
#navbar {
  background-color: black;
  color: white;
  font: sans-serif;
}

#navbar .navbar-brand,
#navbar .nav-link {
  color: white !important; /* Force color on links */
}

#navbar .nav-link:hover {
  color: gold !important; /* Tertiary color on hover */
}

.navbar-brand {
  font-family: "Sans-Serif", sans-serif;
  font-size: 1.5rem;
  color: white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Header styling */
#hero {
  background: url("../images/hero.webp") center top no-repeat;
  height: 40vh; /* Adjust the height as needed */
  background-size: cover;
  padding-top: 5%;
}
.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid;
  animation: typing 6s steps(30, end) forwards; /* Animation ends and stops */
  color: gold;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

#hero p {
  color: silver;
}

/* About styling */
.card-body {
  background-color: #77a0a9;
  color: white;
}

/* Apply grayscale filter to images initially */
.card img {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

/* Remove grayscale on hover */
.card:hover img {
  filter: grayscale(0%);
}

#about .col-md-4 {
  display: flex;
  justify-content: center;
  padding: 10px;
}

/* Services styling */
#services .card-body {
  background-color: #b3d1b5;
  color: white;
}

#services .col-md-6 {
  display: flex;
  justify-content: center;
  padding: 10px;
}

/* Footer styling */
footer {
  background-color: grey;
  font-size: small;
  color: white;
}

footer a {
  color: white;
}

/* Media queries */
/* For medium devices (768px and up; tablets) */
@media (min-width: 768px) {
  /* Ensure all cards are the same height */
  #about .card, #services .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

    /* Align card body and button at the bottom */
    #about .card-body, #services .card-body   {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
/* For large devices (992px and up; desktops) */

/* For extra large devices (1200px and up; large desktops) */
@media (min-width: 1024px) {
  #hero {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 0;
  }

  #hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  #hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  #hero .btn-primary {
    font-size: 1.25rem;
    padding: 0.75rem 2rem;
  }
}
