/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

/* Global Styling */
body {
  font-family: "Handlee", cursive;
  background-color: black;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
p,
.navbar-brand,
#navbar .nav-link {
  color: white;
}

.btn-primary {
  background-color: #f2f4cb;
  color: black;
}

.btn-primary:hover {
  background-color: #223127;
  color: white;
}

/* Navbar */
#navbar {
  background-color: black;
}

/* Header */
#hero {
  background: url("../images/hero.webp") center top no-repeat;
  height: 40vh;
  background-size: cover;
  padding-top: 5%;
}

.typewriter {
  border-right: 3px solid;
  animation: typing 6s steps(30, end) forwards;
  color: gold;
}

/* About and Services Cards */
.card-body {
  background-color: #77a0a9;
}

#services .card-body {
  background-color: #b3d1b5;
}

.card img {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.card:hover img {
  filter: grayscale(0%);
}

/* Footer */
footer {
  background-color: grey;
  font-size: small;
}

/* Media Queries */
@media (min-width: 768px) {
  #services .card {
    height: 100%;
  }
  #services .card-body {
    flex-grow: 1;
  }
}

@media (min-width: 1024px) {
  #hero {
    height: 40vh;
    align-items: center;
  }
  #hero h1 {
    font-size: 3rem;
  }
  #hero .btn-primary {
    font-size: 1.25rem;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
