/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

/* Global Styling */
body {
  font-family: "Handlee", cursive;
  background-color: black;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
p,
.navbar-brand,
#navbar .nav-link {
  color: white;
}

.btn-primary {
  background-color: #f2f4cb;
  color: black;
  border: none;
}

.btn-primary:hover {
  background-color: #223127;
  color: white;
}

/* Navbar */
#navbar {
  background-color: grey;
}

.navbar-toggler {
  color: white;
  border-color: white;
}

/* Header */
#hero {
  background: url("../images/hero.webp") center top no-repeat;
  height: 40vh;
  background-size: cover;
  padding-top: 5%;
}

/* typewriter effect */
.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid;
  width: 100%; /* Control typing width */
  animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
  color: gold;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* About and Services Cards */
.card-body {
  background-color: #77a0a9;
  height: auto;
}

.card-body:hover {
  background-color: #56818a;
}

.col-md-4 {
  margin-bottom: 20px;
}

#services .card-body {
  background-color: #b3d1b5;
}

#services .card-body:hover {
  background-color: #8cba8f;
}

.card img {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.card:hover img {
  filter: grayscale(0%);
}

/* Footer */
footer {
  background-color: grey;
  font-size: small;
}

footer a {
  color: white;
}

/* Media Queries */
@media (min-width: 768px) {
  /* Services Cards */
  #services .card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  #services .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  #services .card-body .btn-primary {
    margin-top: auto;
  }

  #about .card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  #about .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  #about .card-body .btn-primary {
    margin-top: auto;
  }
}

@media (min-width: 1024px) {
  #hero {
    height: 40vh;
    align-items: center;
  }
  #hero h1 {
    font-size: 3rem;
  }
  #hero .btn-primary {
    font-size: 1.25rem;
  }
}
